.button {
  border: 0 none;
  background-color: #fff;
}
#menu {
  width: 375px;
  background-color: #eaeaea;
  color: #0d0106;
  transform: translateX(0);
}
#menu .pannel--header,
#menu .section {
  padding-left: 16px;
  padding-right: 16px;
}
#menu .pannel--header {
  background: hsla(158, 77%, 49%, 1);
  color: inherit;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 16px;
}
#jump {
  margin-top: 34px;
}
#menu h1 {
  box-shadow: none;
}
input {
  border-color: #fff;
}
.section + .section {
  border-top-color: #ccc;
}

#editor {
  left: 375px;
  width: calc(100vw - 375px);
}
#open-menu {
  display: none;
}
#editor .pannel--header {
  padding-left: 91px;
  padding-right: 32px;
}
#editor .todos,
.error {
  padding-left: 22px;
  padding-right: 22px;
}

#editor h2 {
  margin-top: 0;
}

.todos:not(.in-the-past) .task-input::-webkit-input-placeholder {
  /* Webkit */
  text-indent: -4px;
}
