#menu {
  transform: translateX(0);
  width: 375px;
}
#menu .pannel--header,
#menu .section {
  padding-left: 16px;
  padding-right: 16px;
}
#menu .pannel--header {
  text-decoration: none;
}

input {
  border-color: #fff;
}

#editor {
  left: 375px;
  width: calc(100vw - 375px);
}
#open-menu {
  display: none;
}
#editor .pannel--header {
  padding-left: 33px;
}
#editor .todos,
.error {
  padding-left: 22px;
  padding-right: 22px;
}

.todos:not(.in-the-past) .task-input::-webkit-input-placeholder {
  /* Webkit */
  text-indent: -4px;
}
