#app {
  color: var(--front);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.window {
  flex: 1 0 auto;
  height: calc(100% - 86px);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.navbar {
  align-items: center;
  background: var(--back--dark);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 86px;
  justify-items: center;
  padding: 10px 0; /* should be 0 0 20px for iOS bottom bar */
  width: 100%;
  z-index: 999;
}
.navbar__link {
  align-items: center;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px;
  height: 100%;
  justify-items: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.navbar__day {
  border-radius: 50%;
  display: block;
  font-size: 28px;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  width: 28px;
}
.navbar__label {
  font-size: 12px;
}
.navbar__link.active {
  color: var(--accent--text);
  font-weight: bold;
}
.navbar__link.active #icon {
  fill: var(--accent--dark);
}





.page {
  background-color: var(--back);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.page__header {
  background-color: var(--accent);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 107px;
  justify-content: center;
  margin-bottom: 0;
  padding: 0 16px;
  text-decoration: none;
}
.page__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 4px;
}
.page__subtitle {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
}
.page__content {
  background-color: var(--back);
  flex: 1 1 auto;
  justify-content: flex-start;
  overflow: scroll;
  padding: 0 16px;
}





.pannel {
  background-color: var(--back);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  transition: top 0.3s;
  width: 100%;
  z-index: 100;;
}
.pannel.active {
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  top: 20px;
}

.pannel__header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 24px 16px 48px;
  text-decoration: none;
}
.pannel__title {
  font-size: 32px;
  font-weight: 700;
}
.pannel__close {
  cursor: pointer;
}
.pannel__content {
  padding: 0 16px;
}





#editor {
  transition: all 0.3s;
}
.pannel.active ~ #editor {
  border-radius: 10px 10px 0 0;
  margin-left: 13px;
  width: calc(100% - 26px);
}
#editor .page__content {
  padding-bottom: 32px;
}
#editor .isLoading > * {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#editor .isLoading:after {
  animation: rotate 0.8s infinite linear;
  border: 8px solid;
  border-radius: 50%;
  border-right-color: transparent;
  content: '';
  display: block;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -14px;
  position: absolute;
  top: 50%;
  width: 28px;
}





.buttons {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 12px;
}
.button {
  background-color: var(--back);
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px 9px;
  text-align: center;
  text-decoration: none;
}





.month {
  background: var(--back);
  border: 1px solid;
  border-radius: 10px;
  color: var(--front);
  padding: 8px 0;
}
.month--header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 14px 0 20px;
  text-align: center;
}
.month--title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.month--pagination {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  position: relative;
  width: 24px;
}
.month--pagination:before {
  border-style: solid;
  border-width: 0 0 2px 2px;
  content: '';
  display: block;
  height: 10px;
  left: calc(50% - 4px);
  position: absolute;
  top: calc(50% - 6px);
  transform: rotate(45deg);
  width: 10px;
}
.month--pagination:last-of-type:before {
  transform: rotate(225deg) translateX(4px) translateY(-4px);
}
.month--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.month--days.weekdays {
  border-bottom: 1px solid #eaeaea;
}
.weekdays .month--day {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  text-transform: capitalize !important;
}
.month--day {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 38px;
  justify-content: center;
}
.month--day--label {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}
.month--day--label:hover {
  background-color: #eaeaea;
}
.today .month--day--label {
  font-weight: bold;
}
.month--day.active .month--day--label {
  background-color: var(--front);
  color: var(--back);
}
.today.active .month--day--label {
  background-color: var(--accent);
  color: var(--front);
}





#user--email {
  margin-bottom: 12px;
}





.task {
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  outline: 0 none;
  padding: 12px 0;
  position: relative;
}
.task.active,
.in-the-past .task {
  color: #757575;
}
.in-the-past .task.active {
  color: inherit;
}
.task.sortable-ghost {
  background-color: #f2f2f2;
}
.task.sortable-drag {
  background-color: var(--back);
  box-shadow: 0 0 10px 10px var(--back);
  transform: transalteX(-10px);
}

.task.sortable-ghost * {
  opacity: 0 !important;
}

.task-checkbox {
  border: 1px solid #d1d1d6;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  flex: 0 0 30px;
  height: 30px;
  margin-right: 16px;
  position: relative;
  width: 30px;
}

.task.active .task-checkbox {
  background-color: var(--accent);
  border-color: var(--accent);
}
.task.active .task-checkbox:after {
  border-bottom: 2px solid var(--back);
  border-left: 2px solid var(--back);
  content: '';
  display: block;
  height: 6px;
  left: 6px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 14px;
}

.task-input {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 20px;
  line-height: 20px;
  margin: 0;
  min-height: 20px;
  padding: 0;
  resize: none;
  width: 100%;
}
.task-input:focus {
  color: var(--front);
  outline: none;
}
.todos:not(.in-the-past) .task-input::-webkit-input-placeholder {
  /* Webkit */
  text-indent: -2px;
}
.task-label {
  background: var(--back);
  flex: 1 0 auto;
  line-height: 20px;
  min-height: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  word-break: break-word;
}
.tasks-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 32px;
}





.errors {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 100;
}

.error {
  background-color: #f8d7da;
  border-radius: 6px;
  color: #721c24;
  font-size: 14px;
  margin-top: 12px;
  padding: 16px 46px;
}
.error--offline {
  background-color: var(--back)3cd;
  color: #856404;
}
