[v-cloak] {
  display: none !important;
}

html,
body {
  overflow: hidden;
}
* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -webkit-font-smoothing: antialiased;
  /* background: #EAEAEA; */
  color: #0d0106;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
::selection {
  background: #2be4a4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.pannel {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.pannel--header {
  flex: 0 0 auto;
  /* Fallback */
  padding: 0 10px;

  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);

  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.pannel--content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.button {
  border-radius: 6px;
  border: 1px solid;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px 9px;
  text-decoration: none;
}
.button + .button {
  margin-left: 4px;
}
.buttons {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 12px;
}
.buttons .button {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

input {
  border-radius: 6px;
  border: 1px solid #0d0106;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
}

.section + .section {
  margin-top: 16px;
  border-top: 0.5px solid #444;
}

#menu {
  width: calc(100% - 40px);
  transform: translateX(-40px);
  transition: transform 0.3s;
  background-color: #0d0106;
  color: #fff;
}
.show-menu #menu {
  transform: translateX(0px);
}
#menu * {
  text-transform: lowercase;
}
#menu .pannel--header {
  padding: 16px 16px 48px;
  text-decoration: none;
  /* border-bottom: 0.5px solid #C7C7CC; */
}
#menu .pannel--header {
  color: inherit;
}
#menu h1 {
  box-shadow: 0 -4px 0 0 #2be4a4 inset;
  display: inline-block;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 4px;
  text-indent: -1px;
  width: 167px;
}
#menu .section {
  padding-left: 16px;
  padding-right: 16px;
}
#menu h2 {
  font-size: 22px;
  padding: 0 0 8px;
}

#jump {
  flex: 1 0 auto;
}
.month {
  background: #fff;
  border-radius: 10px;
  padding: 8px 0;
  color: #0d0106;
}
.month--header {
  display: grid;
  padding: 14px 0 20px;
  grid-template-columns: 1fr 5fr 1fr;
  text-align: center;
}
.month--title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.month--pagination {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  position: relative;
  width: 24px;
}
.month--pagination:before {
  content: '';
  border-width: 0 0 2px 2px;
  border-style: solid;
  width: 10px;
  height: 10px;
  display: block;
  left: calc(50% - 4px);
  top: calc(50% - 6px);
  position: absolute;
  transform: rotate(45deg);
}
.month--pagination:last-of-type:before {
  transform: rotate(225deg) translateX(4px) translateY(-4px);
}
.month--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.month--days.weekdays {
  border-bottom: 1px solid #eaeaea;
}
.weekdays .month--day {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  text-transform: capitalize !important;
}
.month--day {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.month--day--label {
  cursor: pointer;
  border-radius: 50%;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}
.month--day--label:hover {
  background-color: #eaeaea;
}
.today .month--day--label {
  font-weight: bold;
}
.active .month--day--label {
  background-color: #0d0106;
  color: #fff;
}
.today.active .month--day--label {
  background-color: #2be4a4;
  color: #0d0106;
}
#report {
  padding-bottom: 16px;
  padding-top: 16px;
}
#back {
  padding-bottom: 16px;
  padding-top: 16px;
  flex: 1 0 auto;
}
#user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  flex: 0 0 auto;
}

#editor {
  background-color: #fff;
  z-index: 100;
  transition: left 0.3s;
  /* display: none; */
}
.show-menu #editor {
  left: calc(100% - 40px);
  box-shadow: -10px 0 12px rgba(0, 0, 0, 0.1);
}

#editor .pannel--header {
  padding: 16px 16px 16px 50px;
  background-color: #2be4a4;
  position: relative;
  text-transform: lowercase;
}
#editor .pannel--content {
  position: relative;
}
.day-header {
  position: relative;
  background-color: #2be4a4;
}
#editor h2 {
  display: block;
  font-size: 34px;
  font-weight: 700;
  height: 40px;
  margin-bottom: 4px;
  margin-top: -2px;
}
#editor h3 {
  font-size: 22px;
  padding: 12px 0 8px;
  border-top: 0.5px solid #c7c7cc;
  margin-top: 12px;
}
#editor h4 {
  font-size: 1em;
  font-weight: inherit;
  height: 18px;
}

#open-menu {
  background: none;
  border: 0 none;
  top: 18px;
  color: inherit;
  display: inline-block;
  font-size: 24px;
  left: 8px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
#close-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.todos {
  flex: 1 0 auto;
  height: 100%;
  min-height: 20px;
  padding: 16px 6px 0;
  outline: 0 none;
  overflow: scroll;
  width: 100%;
}
.task {
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  min-height: 20px;
  outline: 0 none;
  padding: 0 10px;
  position: relative;
  transform: translateY(10px);
}
.task.sortable-ghost {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.task.sortable-ghost * {
  opacity: 0 !important;
}
.task.sortable-drag {
  background-color: #fff;
  border-radius: 10px;
}

.task-checkbox {
  border-radius: 6px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  display: block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  flex: 0 0 24px;
  position: relative;
}
.task-reorder {
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  box-sizing: border-box;
  display: block;
  height: 8px;
  width: 24px;
  cursor: pointer;
  flex: 0 0 24px;
  position: relative;
  display: none;
}

.task.active,
.in-the-past .task {
  color: #aaa;
}
.in-the-past .task.active {
  color: inherit;
}

.task.active .task-checkbox {
  background-color: #2be4a4;
  border-color: #2be4a4;
}
.task.active .task-checkbox:after {
  /* tick */
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
  display: block;
  height: 5px;
  left: 5px;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}
.task-input {
  background-color: transparent;
  border-radius: 0;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  line-height: 20px;
  margin: 0;
  min-height: 40px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.task-input:focus {
  outline: none;
  color: #0d0106;
}
.task-checkbox.--add {
  border-color: transparent;
}
.task-checkbox.--add:after {
  color: #666;
  content: '+';
  display: block;
  font-size: 24px;
  left: 0;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.task-label {
  background: #fff;
  flex: 1 0 auto;
  left: 34px;
  line-height: 20px;
  min-height: 40px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  word-break: break-word;
}

.add-task + .task.active {
  margin-top: 20px;
  border-top: 1px solid #dedede;
  padding-top: 20px;
}

#saveImportedData {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #fff;
}

.flip-list-move {
  transition: transform 0.3s;
}

.errors {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 100;
}

.error {
  font-size: 14px;
  padding: 16px 46px;
  background-color: #f8d7da;
  color: #721c24;
}
.error.--offline {
  background-color: #fff3cd;
  color: #856404;
}

@media only screen and (min-width: 1025px) {
  .button {
    border: 0 none;
    background-color: #fff;
  }
  #menu {
    width: 375px;
    background-color: #eaeaea;
    color: #0d0106;
    transform: translateX(0);
  }
  #menu .pannel--header,
  #menu .section {
    padding-left: 16px;
    padding-right: 16px;
  }
  #menu .pannel--header {
    background: hsla(158, 77%, 49%, 1);
    color: inherit;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  #jump {
    margin-top: 34px;
  }
  #menu h1 {
    box-shadow: none;
  }
  input {
    border-color: #fff;
  }
  .section + .section {
    border-top-color: #ccc;
  }

  #editor {
    left: 375px;
    width: calc(100vw - 375px);
  }
  #open-menu {
    display: none;
  }
  #editor .pannel--header {
    padding-left: 32px;
    padding-right: 32px;
  }
  #editor .todos,
  .error {
    padding-left: 22px;
    padding-right: 22px;
  }

  #editor h2 {
    margin-top: 0;
  }

  .task-reorder {
    display: block;
    opacity: 0;
  }
  .task:hover .task-reorder {
    opacity: 1;
  }
}

#editor .isLoading > * {
  display: none;
}
#editor .isLoading:after {
  border-radius: 50%;
  content: '';
  display: block;
  left: 50%;
  margin: -14px 0 0 -14px;
  position: absolute;
  top: 50%;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid;
  border-right-color: transparent;
  height: 28px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
