[v-cloak] {
  display: none !important;
}

html,
body {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  /* background: #EAEAEA; */
  color: #0d0106;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
  Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
::selection {
  background: #2be4a4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.pannel {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.pannel--header {
  flex: 0 0 auto;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
}
.pannel--content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.button {
  background-color: #fff;
  border-radius: 6px;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px 9px;
  text-decoration: none;
}
.button + .button {
  margin-left: 4px;
}
.buttons {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 12px;
}
.buttons .button {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

input {
  border: 1px solid #0d0106;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
}

.section + .section {
  border-top: 0.5px solid #ccc;
  margin-top: 16px;
}

#menu {
  background-color: #f2f2f2;
  color: #0d0106;
  transform: translateX(-40px);
  transition: transform 0.3s;
  width: calc(100% - 40px);
}
.show-menu #menu {
  transform: translateX(0px);
}
#menu * {
  text-transform: lowercase;
}
#menu .pannel--header {
  background: hsla(158, 77%, 49%, 1);
  color: inherit;
  margin-bottom: 0;
  padding: 12px 16px 20px;
  text-decoration: none;
}
#menu h1 {
  display: inline-block;
  font-size: 34px;
  font-weight: 300;
  height: 40px;
  text-indent: -1px;
  width: 167px;
}
#menu .subtitle {
  height: 20px;
}
#menu .section {
  padding-left: 16px;
  padding-right: 16px;
}
#menu h2 {
  font-size: 22px;
  padding: 0 0 8px;
}

#jump {
  flex: 1 0 auto;
  margin-top: 34px;
}
.month {
  background: #fff;
  border-radius: 10px;
  color: #0d0106;
  padding: 8px 0;
}
.month--header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 14px 0 20px;
  text-align: center;
}
.month--title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.month--pagination {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  position: relative;
  width: 24px;
}
.month--pagination:before {
  border-style: solid;
  border-width: 0 0 2px 2px;
  content: '';
  display: block;
  height: 10px;
  left: calc(50% - 4px);
  position: absolute;
  top: calc(50% - 6px);
  transform: rotate(45deg);
  width: 10px;
}
.month--pagination:last-of-type:before {
  transform: rotate(225deg) translateX(4px) translateY(-4px);
}
.month--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.month--days.weekdays {
  border-bottom: 1px solid #eaeaea;
}
.weekdays .month--day {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  text-transform: capitalize !important;
}
.month--day {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 38px;
  justify-content: center;
}
.month--day--label {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}
.month--day--label:hover {
  background-color: #eaeaea;
}
.today .month--day--label {
  font-weight: bold;
}
.active .month--day--label {
  background-color: #0d0106;
  color: #fff;
}
.today.active .month--day--label {
  background-color: #2be4a4;
  color: #0d0106;
}
#report {
  padding-bottom: 16px;
  padding-top: 16px;
}
#back {
  flex: 1 0 auto;
  padding-bottom: 16px;
  padding-top: 16px;
}
#user {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
}

#editor {
  background-color: #fff;
  transition: left 0.3s;
  z-index: 100;
  /* display: none; */
}
.show-menu #editor {
  box-shadow: -5px 0 12px rgba(0, 0, 0, 0.2);
  left: calc(100% - 40px);
}

#editor .pannel--header {
  background-color: #2be4a4;
  padding: 12px 16px 20px 40px;
  position: relative;
  text-transform: lowercase;
}
#editor .pannel--content {
  position: relative;
}
.day-header {
  background-color: #2be4a4;
  position: relative;
}
#editor h2 {
  display: block;
  font-size: 34px;
  font-weight: 700;
  height: 40px;
}
#editor h3 {
  border-top: 0.5px solid #c7c7cc;
  font-size: 22px;
  margin-top: 12px;
  padding: 12px 0 8px;
}
#editor h4 {
  font-size: 1em;
  font-weight: inherit;
  height: 20px;
}

#open-menu {
  background: none;
  border: 0 none;
  color: inherit;
  display: inline-block;
  font-size: 24px;
  left: 2px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 17px;
  width: 40px;
}
#close-menu {
  background-color: rgba(0, 0, 0, 0.15);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.todos {
  flex: 1 0 auto;
  height: 100%;
  min-height: 20px;
  outline: 0 none;
  overflow: scroll;
  padding: 16px 0 0;
  width: 100%;
}
.task {
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  min-height: 20px;
  outline: 0 none;
  padding: 0 10px 0 0;
  position: relative;
  transform: translateY(10px);
}
.task.sortable-ghost {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.task.sortable-ghost * {
  opacity: 0 !important;
}
.task.sortable-drag {
  background-color: #fff;
  border-radius: 10px;
}
.add-task {
  padding-left: 35px;
}

.task-checkbox {
  border: 1px solid #dedede;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  flex: 0 0 24px;
  height: 24px;
  position: relative;
  width: 24px;
}
.task-reorder {
  background-image: linear-gradient(44deg, #aaa 25%, transparent 25%),
  linear-gradient(44deg, transparent 75%, #aaa 75%);
  background-position: 3px 0, 0 3px;
  background-size: 6px 6px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  cursor: pointer;
  display: block;
  flex: 0 0 35px;
  height: 21px;
  position: relative;
  width: 35px;
}

.task.active,
.in-the-past .task {
  color: #aaa;
}
.in-the-past .task.active {
  color: inherit;
}

.task.active .task-checkbox {
  background-color: #2be4a4;
  border-color: #2be4a4;
}
.task.active .task-checkbox:after {
  border-bottom: 2px solid #fff;
  /* tick */
  border-left: 2px solid #fff;
  content: '';
  display: block;
  height: 5px;
  left: 5px;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}
.task-input {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  line-height: 20px;
  margin: 0;
  min-height: 40px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.task-input:focus {
  color: #0d0106;
  outline: none;
}
.todos:not(.in-the-past) .task-input::-webkit-input-placeholder {
  /* Webkit */
  text-indent: -2px;
}
.task-checkbox--add:after {
  color: #666;
  content: '+';
  display: block;
  font-size: 24px;
  left: 0;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.task-label {
  background: #fff;
  flex: 1 0 auto;
  line-height: 20px;
  min-height: 40px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  word-break: break-word;
}

.add-task + .task.active {
  border-top: 1px solid #dedede;
  margin-top: 20px;
  padding-top: 20px;
}

#saveImportedData {
  background: #fff;
  border-radius: 8px;
  padding: 8px 12px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.flip-list-move {
  transition: transform 0.3s;
}

.errors {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  z-index: 100;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  font-size: 14px;
  padding: 16px 46px;
}
.error--offline {
  background-color: #fff3cd;
  color: #856404;
}

#editor .isLoading > * {
  display: none;
}
#editor .isLoading:after {
  animation: rotate 0.8s infinite linear;
  border: 8px solid;
  border-radius: 50%;
  border-right-color: transparent;
  content: '';
  display: block;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -14px;
  position: absolute;
  top: 50%;
  width: 28px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
