body {
	-webkit-font-smoothing: antialiased;
	/* background: #EAEAEA; */
	color: #0D0106;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
::selection {
	background: #2BE4A4;
}

.home-page {
	text-align: center
}
.hero {
  background-color: #2BE4A4;
  color: #111;
  font-size: 20px;
  line-height: 1.5em;
  padding: 20px 0
}

.body {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}
p {
  line-height: 1.35em;
}

#loginStatus {
  display: none
}