* {
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
body {
	--default: #312e53;
  --default--strong: #232041;
  --default--text: #8480aa;
  --default--text--strong: #fff;
  --accent: #82e5cc;
  --accent--strong: #73d8be;
  --accent--text: #389981;
  --accent--text--strong: #114a3b;
  --warning: #fec660;
  --warning--strong: #feaa58;
  --warning--text: #ce6a00;
  --warning--text--strong: #623100;
  --destructive: #f27778;
  --destructive--strong: #ef686a;
  --destructive--text: #c23a3d;
  --destructive--text--strong: #69080a;
  --extra: #E1BEE6;
  --extra--strong: #a57ed5;

	-webkit-font-smoothing: antialiased;
	background-color: var(--default--strong);
	color: var(--default);
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	color: var(--default--text--strong);
	text-decoration: none;
}
.button {
	padding: .33em .75em .4em;
	border-radius: .33em;
	border: 1px solid;
	color: var(--accent);
	text-decoration: none;
	display: inline-block;
	transition: all .3s;
}
.button:hover,
.button.--full {
	background-color: var(--accent);
	color: var(--default--strong);
}
.button.--full:hover {
	filter: brightness(1.2)
}
.button:active,
.button.--full:active {
	filter: brightness(0.7)
}

.button.--secondary {
	color: var(--default--text--strong);
}
.button.--secondary:hover {
	color: var(--default--strong);
	background-color: var(--default--text--strong);
}

.container {
	margin: 0 auto;
	max-width: 1100px;
}

.highlight {
	color: var(--accent);
}

@keyframes hero-misc {
	100% { transform: translateY(0); opacity: 1; }
}
.animate {
	animation: hero-misc .3s forwards;
	transform: translateY(60px);
	opacity: 0;
}





.hero {
	background-color: #E1BEE6;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.header {
	background-color: var(--extra);
	padding: 12px 0;
	flex: 0 0 auto;
}
.header .container {
	align-items: center;
	display: flex;
}
.header a {
	text-decoration: none;
	padding: 8px 12px;
	display: inline-block;
	color: var(--default--strong);
}

.header .logo {
	color: var(--default);
	padding-left: 0;
	font-size: 1.125em;
}
.logo strong {
	color: var(--default--strong);
}

.header-actions {
	flex: 1 0 auto;
	text-align: right
}





.hero-content {
	flex: 1 1 auto;
	margin: 0 auto;
	max-width: 80vw;
	padding-top: 32px;
	position: relative;
	width: 100%;
	z-index: 100;
}

h1 {
	display: block;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.2em;
	margin: 0;
}
.word-container,
.word {
	display: inline-block;
}
.word-container {
	overflow: hidden;
}
@keyframes word {
	100% { transform: translateY(0) }
}
.word {
	animation: word .3s forwards;
	transform: translateY(100%);
}

.hero-lead {
	animation-delay: 2s;
	line-height: 1.5em;
	margin: 24px 0 18px;
	max-width: 60vw;
	margin: 16px auto 32px;
}

.disclaimer {
	animation-delay: 2.5s;
	margin: 24px auto 0;;
	/* font-size: 14px; */
	color: var(--default--text);
	max-width: 40vw;
}





.hero-image {
	display: block;
	position: relative;
	width: 100vw;
	height: 33.33vw;
}






#signup {
	border: 0 none;
	padding: 16px 32px;
	font-weight: 700;
	background-color: var(--extra--strong);
	color: var(--default--text--strong) !important;
}
#signup,
#login {
	animation-delay: 2.3s;
}
#login {
	display: none;
}





#how-it-works {
	/* animation-delay: 2.7s; */
	color: var(--default--text);
	padding-top: 64px;
}
.title2 {
	font-size: 48px;
	margin: 0;
	color: var(--default--text--strong)
}

.screenshots {
	display: flex;
	justify-content: space-between;
	padding: 24px 0 72px;
}
.day {
	flex-basis: 31%;
	flex-grow: 0;
	flex-shrink: 0;
}
.fake-app {
	background-color: var(--default);
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
	overflow: hidden;
}
.fake-app-header {
	line-height: 3em;
	color: var(--default--text--strong);
	font-weight: bold;
	padding: 0 1.125em;
}
.fake-app-header:after {
	background-color: var(--accent);
	background-image: linear-gradient(
    17deg,
    var(--warning) 0%,
    var(--accent) 50%,
    var(--extra--strong) 100%
  );
	content: "";
	display: block;
	height: 4px;
}
.fake-app-tasks {
	list-style: none inside;
	color: var(--default--text--strong);
	margin: 0;
	padding: 18px;
}
.fake-app-task {
	line-height: 24px;
	padding-left: 32px;
	position: relative;
}
.past .fake-app-task,
.fake-app-task.--done {
	color: var(--default--text);
}
.past .fake-app-task.--done {
	color: var(--default--text--strong);
}
.fake-app-task + .fake-app-task {
	margin-top: 8px;
}
.fake-app-task:before {
	border-radius: 4px;
	border: 1px solid #9B9B9B;
	content: "";
	display: block;
	height: 24px;
	left: 0;
	margin-right: 8px;
	position: absolute;
	top: 0;
	width: 24px;
}

.past .fake-app-task:before,
.fake-app-task.--done:before {
	border-color: #9B9B9B
}
.fake-app-task.--done:after {
	position: absolute;
	left: 7px;
	top: 8px;
	width: 10px;
	height: 5px;
	border-left: 3px solid var(--accent);
	border-bottom: 3px solid var(--accent);
	content: "";
	display: block;
	transform: rotate(-45deg)
}

.explain {
	padding: 10px 18px;
	line-height: 1.5em;
}






@media only screen and (max-width: 414px) { /* iPhone Xr Portrait */
	.container {
		padding: 0 24px;
	}
	.button {
		padding: .75em;
	}
	.animate {
		transform: translateY(-30px);
	}
	.word {
		transform: translateY(-100%);
	}

	.header {
		padding: 10px 0;
		position: relative;
    z-index: 10;
	}
	.header .logo {
		font-size: 1.2em;
	}

	.hero-lead {
		max-width: auto;
	}

	#signup-header {
		display: none;
	}
	#login-header {
		padding-left: 0;
		padding-right: 0;
	}






	.hero-content {
		width: 100%;
		font-size: inherit;
	}

	h1 {
		font-size: 42px;
	}

	#signup,
	#login {
		display: block;
		text-align: center;
		font-weight: 700;
	}
	#login {
		margin-top: 12px;
	}



	.title2 {
		font-size: 2em;
	}



	.screenshots {
		display: block;
	}

	.day + .day {
		margin-top: 24px;
	}
}

@media only screen and (max-width: 375px) { /* iPhone 8 Portrait */
	h1 {
		font-size: 38px
	}
}

@media only screen and (max-width: 320px) { /* iPhone 5 Portrait */
	h1 {
		font-size: 32px
	}
}

@media only screen and (max-width: 1024px) { /* iPad Landscape */
	.container {
		padding: 0 32px;
	}
	.hero-lead,
	.disclaimer {
		max-width: 100%;
	}

	.hero-lead br {
		display: none;
	}
}