html,
body {
	overflow: hidden;
}
* {
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
body {
	-webkit-font-smoothing: antialiased;
	background: #EAEAEA;
	color: #0D0106;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
	font-size: 16px;
	margin: 0;
	padding: 0;
}