body {
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Arial, sans-serif;
	margin: 0;
}
#todos {
	min-height: 20px;
	outline: 0 none;
	padding-left: 24px;
}
#todos > div {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
	min-height: 20px;
	outline: 0 none;
	padding-left: 6px;
	position: relative;
}
#todos > div.active:not(.focused) {
	color: #dedede;
}
#todos > div:before {
	border-radius: 3px;
	content: "";
	cursor: pointer;
	display: block;
	height: 24px;
	position: absolute;
	right: 100%;
	top: -2px;
	width:  24px;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
#todos > div.active:after { /* tick */
	box-shadow: 0 3px 0, -3px 0 0, -3px 3px;
	color: #18c3aa; /* #29e5c9 -10 light */
	content: "";
	display: block;
	height: 5px;
	left: -17px;
	position: absolute;
	top: 3px;
	transform: rotate(-45deg);
	width:  10px;
}

a,
a:hover,
a:active,
a:visited {
	color: #0cc0a5;
	font-weight: bold;
	text-decoration: none;
}

.jumpto {
	background-color: #29e5c9;
	color: #111;
	font-size: 12px;
	height: 40px;
	padding: 20px 40px;
}
.jumpto a {
	color: #111;
	display: block;
	height: 40px;
	position: absolute;
	top: 20px;
	width: 40px;
}
#yesterday {
	left: 0;
}
#tomorrow {
	right: 0;
}
#yesterday:after,
#tomorrow:after {
	box-shadow: -1px 1px 0 1px;
	content: "";
	display: block;
	height: 10px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform-origin: 50%;
	transform: translateY(-50%) rotateZ(45deg);
	width: 10px;
}
#tomorrow:after {
	transform: translateX(-100%) translateY(-50%) rotateZ(225deg);
}



.body {
	padding: 20px 10px;
}
h1 {
	line-height: 38px;
	margin: 0;
}
footer {
	font-size: 12px;
	margin-top: 10px;
	padding: 10px;
}
.heart {
	color: red;
}


@media only screen
and (max-width : 414px) { /* iPhone 7 ( in portrait mode ) and lower */
	.jumpto {
		padding-bottom: 0;
		padding-top: 0;
	}
	.jumpto a {
		top: 0;
	}
	h1 {
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}
	#todos > div:before {
		border-radius: 50%;
	}
	#todos > div.active:after {
		top: 4px;
	}
}



#todos.in-the-past > div:not(.focused) {
	color: #dedede;
}
#todos.in-the-past > .active {
	color: inherit;
}
#todos.in-the-past > .active:before {
	background-color: hsla(171,98%,43%,1);
	border-color: transparent;
}
#todos.in-the-past > .active:after {
	color: #fff;
}